.build
.debug
.r-build
.tools
.vscode
*.trace

*.Rcheck
*.rds
*.o
*.so
*.a

PPTree_*.tar.gz

.DS_Store
Rplots.pdf

bindings/R/PPTree/src/core
bindings/R/PPTree/src/Makevars
bindings/R/PPTree/inst/include/nlohmann
bindings/R/PPTree/inst/include/pcg_*

docs/.build

log
.claude
CLAUDE.md