.build
.debug
.r-build
.tools
.vscode
*.trace

*.Rcheck
*.rds
*.o
*.so
*.a

ppforest2_*.tar.gz

.DS_Store
Rplots.pdf

bindings/R/ppforest2/src/core
bindings/R/ppforest2/src/Makevars
bindings/R/ppforest2/inst/include/nlohmann
bindings/R/ppforest2/inst/include/pcg_*
bindings/R/ppforest2/NEWS.md

docs/.build

log
.claude
CLAUDE.md
bindings/R/ppforest2/src/VERSION
