.build
.debug
.r-build
.tools
*.trace

*.Rcheck
*.rds
*.o
*.so
*.a

ppforest2_*.tar.gz

.DS_Store

bindings/R/src/core
bindings/R/src/Makevars
bindings/R/inst/include/nlohmann
bindings/R/inst/include/pcg_*
bindings/R/inst/golden
bindings/R/NEWS.md

docs/.build

log
.claude
CLAUDE.md
bindings/R/src/VERSION
